<!DOCTYPE html>
<html>
<head>
	<title>My Vue Project</title>
<style type="text/css">
	[v-coalt] {display: none;}
</style>
</head>
<body>
	<div id="app">

		<h1 v-coalt>{{message}}</h1>
		<h2 style="color: #cecece" v-coalt>{{message}}</h2>
		<h3>my name is samyak</h3>
		<h3>my name is javed Ali</h3>
		<p v-coalt>{{message2}}</p>
		<h1 v-text="message" v-coalt></h1>
		<h1 style="color: #cecece" v-text="message2" v-coalt></h1>
		<p v-html="message2" v-coalt></p>
		<p v-show="is_active" v-once v-coalt>{{message}}asdfgh</p>
		<p v-if="is_active" v-once v-coalt>{{message}}</p>
		<p v-else v-once v-coalt>{{inactive}}</p>
		<ul v-coalt>
			<li v-for="list in listing">{{list.id}} {{list.task}}</li>
		</ul>
		<img :src="image" :alt="message" :title="message2" v-coalt>
	</div>
</body>
<script type="text/javascript" src="js/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
	var app = new Vue({
		el:'#app',
		data:{
			'message':'This is message',
			'message2':'<p>This is message 2</p>',
			'inactive':'Please activate your email',
			'is_active':false,
			'listing':[
			{'id':1,'task':'Task 1'},
			{'id':2,'task':'Task 2'},
			{'id':3,'task':'Task 3'},
			{'id':4,'task':'Task 4'},
			{'id':5,'task':'Task 5'},

			],
			'image':'https://vuejs.org/images/logo.png'
		}
	})

</script>

</html>