<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style type="text/css">
	[v-coalt]{display: none;}
</style>
<body>
	<div id="app">
		<button @click="decrease">-</button>{{counter}}<button @click="increase">+</button>	<br/>

		Vist: <a :href="url">{{cleanUrl}}</a><br>
		Enter Url: <input type="" v-model="url"> <input type="button" @click="cleanMe" value="Clean Url">
	</div>
</body>
<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript">
	var app = new Vue({
		el:'#app',
		data:{
			'counter':0,
			url:'',
			cleanUrl:''
		},
		methods:{
			decrease:function(){
				this.counter --;
			},
			increase:function(){
				this.counter ++;
			},
			cleanMe:function(){
				this.cleanUrl = this.url.replace(/^https?:\/\//,'').replace(/\/$/,'');
			}
		}
	});
</script>
</html>

