<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style type="text/css">
	[v-coalt]{display: none;}
</style>
<body>
	<div id="app">
		{{message}}
		<input type="text" v-model="message" :value="message">
		<h1 v-coalt v-text="message2"></h1>
		<h2 v-coalt v-html="message3"></h2>
		<img v-coalt v-if="a==b" :src="image" v-bind:alt="message" />
		<ul>
			<li v-coalt v-for="list in listing">{{list.id}} {{list.message}}</li>
		</ul>		
	</div>
</body>
<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript">
	var app = new Vue({
		el:'#app',
		data:{
			'message':'Hello world',
			'message2':'Hello Vue',
			'message3':'<i>This is italics</i>',
			'image':'https://vuejs.org/images/logo.png',
			'image2':'https://vuejs.org/images/stdlib.png',
			'flag':true,
			'a':1,
			'b':1,
			'listing':[
				{'id':1,'message':'Message 1'},
				{'id':2,'message':'Message 2'},
				{'id':3,'message':'Message 3'},
				{'id':4,'message':'Message 4'},
				{'id':5,'message':'Message 5'},
				{'id':6,'message':'Message 6'}
			]
		}
	});
</script>
</html>

